@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-ExtraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: PTAstraFact;
	font-display: swap;
	src: url("../fonts/PTAstraFact-BoldItalic.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: PTAstraFact;
	font-display: swap;
	src: url("../fonts/PTAstraFact-Italic.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: PTAstraFact;
	font-display: swap;
	src: url("../fonts/PTAstraFact-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: PTAstraFact;
	font-display: swap;
	src: url("../fonts/PTAstraFact-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PTAstraSans;
	font-display: swap;
	src: url("../fonts/PTAstraSans-BoldItalic.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: PTAstraSans;
	font-display: swap;
	src: url("../fonts/PTAstraSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: PTAstraSans;
	font-display: swap;
	src: url("../fonts/PTAstraSans-Italic.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: PTAstraSerif;
	font-display: swap;
	src: url("../fonts/PTAstraSerif-BoldItalic.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: PTAstraSerif;
	font-display: swap;
	src: url("../fonts/PTAstraSerif-Italic.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: PTAstraSerif;
	font-display: swap;
	src: url("../fonts/PTAstraSerif-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PTAstraSans;
	font-display: swap;
	src: url("../fonts/PTAstraSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PTAstraSerif;
	font-display: swap;
	src: url("../fonts/PTAstraSerif-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
